.card.mb-3
  .row.no-gutters
    .col-md-2
      %img.card-img{:alt => "...", :src => "/compras.png", style: "max-width: 140px;width: 100%;height: 100%;"}
    .col-md-7
      .card-body
        %h5.card-title Es el Mejor E-Commerce
        %p.card-text Disfruta de los mejores articulos.
        %p.card-text
        /=  %small.text-muted Horarios de despacho
        - if notice.present?
          .alert.alert-success{:role => "alert"}
            = notice
        - if alert.present?
          .alert.alert-warning{:role => "alert"}
          = alert    
    #chartheader.col-md-3
     