.card.mb-3
  .row.no-gutters
    .col-md-2
      %img.card-img{:alt => "...", :src => "/logo.jpg", style: "max-width: 200px"}
    .col-md-10
      .card-body
        %h5.card-title Es el Mejor E-commerce
        %p.card-text Envía tu detalle. Disponible en todo Santiago
        %p.card-text
          %small.text-muted Horarios de lunes a domingo desde las 8:00 hasta 18:00 hrs.
